.groups {
    background-color:azure;
    display: flex;
}

.group1, .group2 {
    width: 40%;
    height: 400px;
    line-height: 1px;
    padding: 5%;
    margin: 2%;
    text-align: center;
}

.container {
    position: relative;
    bottom: 20%;
    right: 7%;
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    border: 5px solid grey;
    padding: 5%;
    display: grid;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    position: relative;
    bottom: 25%;
}

button {
    margin: 5%;
    font-size: 1.5em;
}